/* css of carousel  */
.carousel{
    height: 80vh;
    overflow: hidden;
}

/* home cards css  */
/**********************************/
/******** Featured Product ********/
/**********************************/
.featured-product {
    position: relative;
    padding: 30px 0;
}

.recent-product {
    position: relative;
    padding: 30px 0;
}

.product .section-header {
    margin-bottom: 30px;
    padding: 20px 30px 15px 30px;
    color: #13ccff;
    background: #fffbfafd;
}

.product .slick-prev,
.product .slick-next {
    top: -75px;
    width: 30px;
    height: 30px;
    z-index: 1;
    transition: .5s;
    color: #FF6F61;
    background: #ffffff;
    border: 1px solid #FF6F61;
    border-radius: 4px;
}

.product .slick-prev {
    left: calc(100% - 120px);
}

.product .slick-next {
    right: 45px;
}

.product .slick-prev:hover,
.product .slick-prev:focus,
.product .slick-next:hover,
.product .slick-next:focus {
    background: #FF6F61;
}

.product .slick-prev::before,
.product .slick-next::before {
    font-family: "Font Awesome 5 Free";
    font-size: 18px;
    font-weight: 900;
    color: #FF6F61;
}

.product .slick-prev::before {
    content: "\f104";
}

.product .slick-next::before {
    content: "\f105";
}

.product .slick-prev:hover::before,
.product .slick-prev:focus::before,
.product .slick-next:hover::before,
.product .slick-next:focus::before {
    color: #ffffff;
}
/**********************************/
/******** Product Item CSS ********/
/**********************************/
.product-item {
    position: relative;
}

.product-item .product-title {
    padding: 15px;
    text-align: center;
    background: #ffffff;
    transition: all .3s;
}

.product-item:hover .product-title {
    background: #FF6F61;
}

.product-item .product-title a,
.product-item .product-title .ratting {
    position: relative;
    width: 100%;
}

.product-item .product-title a {
    margin-bottom: 5px;
    color: #000000;
    font-size: 18px;
}

.product-item .product-title .ratting i {
    font-size: 14px;
    color: #FF6F61;
}

.product-item .product-content .price span {
    margin-left: 12px;
    text-decoration: line-through; 
    font-weight: 700;
    color: #999999;
}

.product-item:hover .product-title a,
.product-item:hover .product-title .ratting i {
    color: #ffffff;
}

.product-item:hover .product-content .price span {
    color: #dddddd;
}

.product-item .product-image {
    position: relative;
    overflow: hidden;
}

.product-item .product-image a {
    display: block;
    background: #ffffff;
    transition: .3s;
}

.product-item .product-image img {
    width: 100%; 
    transition: all .3s;
    height: 300px;
}

.product-item:hover .product-image img {
    transform: scale(1.2);
}

.product-item .product-image .product-action {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 111, 97, .5);
    transition: all .3s;
    font-size: 0;
    z-index: 1;
    opacity: 0;
}

.product-item:hover .product-image .product-action {
    opacity: 1; 
}

.product-item .product-image .product-action a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    padding: 7px 0 10px 0;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    background: #FF6F61;
    border: 1px solid #ffffff;
    border-radius: 4px;
    transition: all .3s;
    margin-top: 50px;
}

.product-item:hover .product-image .product-action a {
    margin-top: 0;
}

.product-item .product-image .product-action a:last-child {
    margin-right: 0;
}

.product-item .product-image .product-action a:hover {
    color: #FF6F61;
    background: #ffffff;
    border: 1px solid #FF6F61;
}

.product-item .product-price {
    padding: 20px;
    background: #000000;
    transition: all .3s;
}

.product-item:hover .product-price {
    background: #494747;
}

.product-item .product-price h3 {
    display: inline-block;
    color: #ffffff;
    margin: 0;
}

.product-item .product-price h3 span {
    font-size: 16px;
}

.product-item .product-price .btn {
    float: right;
    border: none;
    color: #000000;
    background: #FF6F61;
}

.product-item:hover .product-price .btn,
.product-item .product-price .btn:hover {
    color: #FF6F61;
    background: #ffffff;
}

.product-item .product-price .btn i {
    margin-right: 5px;
}
