
<div class="carousel" style="padding-bottom: 5px">
  <div
    id="carouselExampleInterval"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item " data-bs-interval="10000">
        <img
          src="../../assets/images/car4.jpeg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item active" data-bs-interval="2000">
        <img
          src="../../assets/images/car2.jpg" 
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/images/car3.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- cards import -->
<!-- Featured Product Start -->
<div class="container">
  <div class="featured-product product">
    <div class="container-fluid">
      <div class="section-header">
        <h1>Featured Product</h1>
      </div>
      <div class="row align-items-center product-slider product-slider-4">


        <div class="col-lg-3" >
          <div class="product-item">
            <div class="product-title">
              <a routerLink="products">Sofa</a>
              <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>

            <div class="product-image">
              <a routerLink="products">
                <img
                  src="../../assets/images/sofa.jpeg"
                  alt="Product Image"
                />
              </a>
            </div>
            <div class="product-price">
              <h3><span>$</span>149</h3>
              <a class="btn" routerLink="products"
                ><i routerLink="products" class="fa fa-shopping-cart"></i>Shop Now</a
              >
            </div>
          </div>
        </div>


        <div class="col-lg-3" >
          <div class="product-item">
            <div class="product-title">
              <a routerLink="products">Chair</a>
              <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <div class="product-image">
              <a routerLink="products">
                <img
                  src="../../assets/images/chair.jpg"
                  alt="Product Image"
                />
              </a>
            </div>
            <div class="product-price">
              <h3><span>$</span>99</h3>
              <a class="btn" routerLink="products"
                ><i routerLink="products" class="fa fa-shopping-cart"></i>Shop Now</a
              >
            </div>
          </div>
        </div>


        <div class="col-lg-3" >
          <div class="product-item">
            <div class="product-title">
              <a routerLink="products">Bed</a>
              <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <div class="product-image">
              <a routerLink="products">
                <img
                  src="../../assets/images/bed.webp"
                  alt="Product Image"
                />
              </a>
            </div>
            <div class="product-price">
              <h3><span>$</span>199</h3>
              <a class="btn" routerLink="products"
                ><i routerLink="products" class="fa fa-shopping-cart"></i>Shop Now</a
              >
            </div>
          </div>
        </div>


        <div class="col-lg-3">
          <div class="product-item" routerLink="products">
            <div class="product-title">
              <a routerLink="products">Dinner-table</a>
              <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <div class="product-image">
              <a routerLink="products">
                <img
                  src="../../assets/images/dinning.jpg"
                  alt="Product Image"
                />
              </a>
            </div>
            <div class="product-price">
              <h3><span>$</span>149</h3>
              <a class="btn" routerLink="products"
                ><i routerLink="products" class="fa fa-shopping-cart"></i>Shop Now</a
              >
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<!-- Featured Product End -->
